In [329]:
import pandas as pd

In [330]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score

In [331]:
train = pd.read_csv('train.csv')

In [332]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [333]:
embarked = pd.get_dummies(train.Embarked,prefix='Embarked')

In [334]:
sex = pd.get_dummies(train.Sex).female

In [335]:
trainTemp=pd.concat([train,embarked,sex],axis=1)

In [336]:
trainTemp.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_C,Embarked_Q,Embarked_S,female
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1,0

In [337]:
feature_columns = ['Age','female','Pclass','Parch','SibSp','Fare','Embarked_C','Embarked_S','Embarked_Q']
#feature_columns = ['Age','female','Pclass','Parch','SibSp']

In [338]:
X = trainTemp[feature_columns]

In [339]:
X.isnull().sum()

Age           177
female          0
Pclass          0
Parch           0
SibSp           0
Fare            0
Embarked_C      0
Embarked_S      0
Embarked_Q      0
dtype: int64

In [340]:
X.Age.fillna(X.Age.mean(),axis=0,inplace=True)

In [341]:
X.head()

,Age,female,Pclass,Parch,SibSp,Fare,Embarked_C,Embarked_S,Embarked_Q
0,22.0,0,3,0,1,7.2500,0,1,0
1,38.0,1,1,0,1,71.2833,1,0,0
2,26.0,1,3,0,0,7.9250,0,1,0
3,35.0,1,1,0,1,53.1000,0,1,0
4,35.0,0,3,0,0,8.0500,0,1,0

In [342]:
y = trainTemp['Survived']

In [343]:
X.shape

(891, 9)

In [344]:
X.isnull().sum()

Age           0
female        0
Pclass        0
Parch         0
SibSp         0
Fare          0
Embarked_C    0
Embarked_S    0
Embarked_Q    0
dtype: int64

In [345]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.01,random_state=42)

In [346]:
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()
logReg.fit(X_train,y_train)
y_pred_class = logReg.predict(X_test)
logRegSCore = accuracy_score(y_test,y_pred_class)
%time print "logRegSCore accuracy score",logRegSCore

logRegSCore accuracy score 0.888888888889
CPU times: user 324 µs, sys: 27 µs, total: 351 µs
Wall time: 281 µs

In [347]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_predict_class = knn.predict(X_test)
score = accuracy_score(y_test,y_predict_class)
%time print "KNN accuraccy score",score

KNN accuraccy score 0.666666666667
CPU times: user 219 µs, sys: 17 µs, total: 236 µs
Wall time: 190 µs

In [348]:
from sklearn.ensemble import RandomForestClassifier
randForest = RandomForestClassifier()
randForest.fit(X_train,y_train)
randForestPredict = randForest.predict(X_test)
%time print "Random Forest Classifier Accuraccy Score ",accuracy_score(y_test,randForestPredict)

Random Forest Classifier Accuraccy Score  1.0
CPU times: user 672 µs, sys: 55 µs, total: 727 µs
Wall time: 550 µs

In [349]:
#Import Unseen data and Lets do reear test of our model

In [350]:
testData = pd.read_csv('test.csv')

In [351]:
sex = pd.get_dummies(testData.Sex).female

In [352]:
emberked = pd.get_dummies(testData.Embarked,prefix='Embarked')

In [353]:
X_testData = pd.concat([testData,emberked,sex],axis=1)

In [354]:
X_testData = X_testData[feature_columns]

In [355]:
X_testData.isnull().sum()

Age           86
female         0
Pclass         0
Parch          0
SibSp          0
Fare           1
Embarked_C     0
Embarked_S     0
Embarked_Q     0
dtype: int64

In [356]:
X_testData.Age.fillna(X_testData.Age.mean(),inplace=True)

In [357]:
X_testData.Fare.fillna(X_testData.Fare.mean(),inplace=True)

In [358]:
X_testData.describe()

,Age,female,Pclass,Parch,SibSp,Fare,Embarked_C,Embarked_S,Embarked_Q
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,30.272590,0.363636,2.265550,0.392344,0.447368,35.627188,0.244019,0.645933,0.110048
std,12.634534,0.481622,0.841838,0.981429,0.896760,55.840500,0.430019,0.478803,0.313324
min,0.170000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,0.000000,1.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000
50%,30.272590,0.000000,3.000000,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000
75%,35.750000,1.000000,3.000000,0.000000,1.000000,31.500000,0.000000,1.000000,0.000000
max,76.000000,1.000000,3.000000,9.000000,8.000000,512.329200,1.000000,1.000000,1.000000

In [359]:
RF_predict = randForest.predict(X_testData)
pd.DataFrame({'PassengerId':testData.PassengerId,'Survived':RF_predict}).to_csv('rand_forest_submission.csv',index=False)

In [360]:
logReg_predict = logReg.predict(X_testData)
pd.DataFrame({'PassengerId':testData.PassengerId,'Survived':logReg_predict}).to_csv('log_reg_submission.csv',index=False)